#area {
    width: 80%;
    height: auto;
    padding: 2rem;
    margin: 2rem auto;
}

#area h2 {
    margin: 1rem 0;
    margin-bottom: 3rem;
    font-size: 2.6rem;
    font-style: italic;
    letter-spacing: 2px;

}

#area h3 {
    margin: 2rem 0;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

#area p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.6rem;
}

#area ul {
    overflow-x: visible;
    display: list-item;
    margin-top: 1rem;

}

#area ul li {
    overflow-x: visible;
    display: list-item;
    margin-left: 2rem;
}

#area div.lists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media all and (min-width: 768px) {
    #area p {
        font-size: 1.4rem;
    }
}

@media all and (min-width: 1024px) {
    #area h2 {
        font-size: 3rem;
    }
    #area div.lists {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
    }

    #area div.sport, div.health-attractions {
        width: 45%;
     }

    #area p {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
