* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url("../images/needles.jpg");
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    box-shadow: 5px 5px #333;
}
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
header .menu {
    padding: 5px 20px;
    height: 70px;
    background-image: url("../images/wood-floor.jpg");
    background-position: top;
    background-size: inherit;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

header .menu li {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header .logo img{
    position: fixed;
    top: 8px;
    left: 20px;
    width: 80px;
    height: auto;
}

/* MOBILE MENU */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu.active{
    height: 100vh;
}

.burger i {
    display: none;
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    order: 1;
} 

i.show {
    display: inline-block;
}

.item {
    display: none;
    width: 100%;
    text-align: center;
    order: 3;
}

.item.active {
    display: block;
}

div.welcome {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    letter-spacing: 1px;
    color: white;
}

div.welcome h1 {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
}

div.welcome h2 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
}

/* DESKTOP MENU */

@media all and (min-width: 768px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    header .menu li {
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding: 0 8px;
    }

    .item {
        display: block;
        width: auto;
    }

    .burger {
        display: none;
    }

    div.welcome h1 {
        font-size: 4.6rem;
    }

    div.welcome h2 {
        margin-top: 2rem;
        font-size: 2.2rem;
    }
}

@media all and (min-width: 1024px) {
    header .menu li {
        font-size: 1.7rem;
        letter-spacing: 1px;
        padding: 0 10px;
    }

    header .logo img{
        left: 25px;
    }

    div.welcome h1 {
        font-size: 5rem;
    }

    div.welcome h2 {
        margin-top: 2.2rem;
        font-size: 2.2rem;
    }
}

@media all and (min-width: 1366px) {
    header .menu li {
        font-size: 2rem;
        letter-spacing: 1px;
        padding: 0 20px;
    }

    header .logo img{
        left: 30px;
    }
}
